<div class="container list">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="media">
                <a class="media-left" href="article/laravel-55-release-pj-blog-update-yike-project-is-introduced.html">
                    <img alt="laravel-55-release-pj-blog-update-yike-project-is-introduced" src="https://pig-storage.b0.upaiyun.com/cover/2017/08/30/O8jot1mYJfgY03l8M6bF6ZtSr6waPEgjtahJgT3B.jpg" data-holder-rendered="true">
                </a>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a href="article/123">
                            Laravel 5.5 发布，PJ Blog 升级 &amp; Yike 项目介绍！
                        </a>
                    </h6>
                    <div class="meta">
                        <span class="cinema">Upgrade PJ Blog and introduct the project of Yike</span>
                    </div>
                    <div class="description">

                    </div>
                    <div class="extra">
                        <a href="tag/%E5%85%A5%E9%97%A8.html">
                            <div class="label"><i class="ion-pricetag"></i>入门</div>
                        </a>
                        <a href="tag/Laravel.html">
                            <div class="label"><i class="ion-pricetag"></i>Laravel</div>
                        </a>
                        <a href="tag/PHP7.html">
                            <div class="label"><i class="ion-pricetag"></i>PHP7</div>
                        </a>
                        <a href="tag/Vuejs.html">
                            <div class="label"><i class="ion-pricetag"></i>Vuejs</div>
                        </a>
                        <a href="tag/overtrue.html">
                            <div class="label"><i class="ion-pricetag"></i>overtrue</div>
                        </a>

                        <div class="info">
                            <i class="ion-person"></i>Jiajian&nbsp;,&nbsp;
                            <i class="ion-clock"></i>4个月前&nbsp;,&nbsp;
                            <i class="ion-ios-eye"></i>3473
                            <a href="article/laravel-55-release-pj-blog-update-yike-project-is-introduced.html" class="pull-right">
                                Read More <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="article/composer-laravel-package-of-local-development.html">
                    <img alt="composer-laravel-package-of-local-development" src="https://pig-storage.b0.upaiyun.com/cover/2017/08/28/erA3jCfZkCxK0Aao7pbMmQtFS34ih9K40pjIdMWc.png" data-holder-rendered="true">
                </a>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a href="article/composer-laravel-package-of-local-development.html">
                            Composer &amp; Laravel 包本地开发
                        </a>
                    </h6>
                    <div class="meta">
                        <span class="cinema">Develop packages in local</span>
                    </div>
                    <div class="description">

                    </div>
                    <div class="extra">
                        <a href="tag/%E5%85%A5%E9%97%A8.html">
                            <div class="label"><i class="ion-pricetag"></i>入门</div>
                        </a>
                        <a href="tag/Git.html">
                            <div class="label"><i class="ion-pricetag"></i>Git</div>
                        </a>
                        <a href="tag/Laravel.html">
                            <div class="label"><i class="ion-pricetag"></i>Laravel</div>
                        </a>
                        <a href="tag/Package.html">
                            <div class="label"><i class="ion-pricetag"></i>Package</div>
                        </a>
                        <a href="tag/Composer.html">
                            <div class="label"><i class="ion-pricetag"></i>Composer</div>
                        </a>

                        <div class="info">
                            <i class="ion-person"></i>Jiajian&nbsp;,&nbsp;
                            <i class="ion-clock"></i>4个月前&nbsp;,&nbsp;
                            <i class="ion-ios-eye"></i>1083
                            <a href="article/composer-laravel-package-of-local-development.html" class="pull-right">
                                Read More <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="article/the-a-search-algorithm-find-the-path.html">
                    <img alt="the-a-search-algorithm-find-the-path" src="https://pig-storage.b0.upaiyun.com/cover/2017/06/20/fefDUutj9QUnoZoBm6ubMr4Xa3NldCcA0gAsmwHJ.png" data-holder-rendered="true">
                </a>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a href="article/the-a-search-algorithm-find-the-path.html">
                            寻路之 A* 搜寻算法
                        </a>
                    </h6>
                    <div class="meta">
                        <span class="cinema">Find the best way by A* search algorithm</span>
                    </div>
                    <div class="description">
                        寻找最短路径之 A* 搜寻算法
                    </div>
                    <div class="extra">
                        <a href="tag/Algorithm.html">
                            <div class="label"><i class="ion-pricetag"></i>Algorithm</div>
                        </a>

                        <div class="info">
                            <i class="ion-person"></i>Jiajian&nbsp;,&nbsp;
                            <i class="ion-clock"></i>6个月前&nbsp;,&nbsp;
                            <i class="ion-ios-eye"></i>1491
                            <a href="article/the-a-search-algorithm-find-the-path.html" class="pull-right">
                                Read More <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="article/based-on-the-weui-js-weui-distpicker-area-selectors.html">
                    <img alt="based-on-the-weui-js-weui-distpicker-area-selectors" src="https://pig-storage.b0.upaiyun.com/cover/2017/06/01/0Ylt1fzjveWnKI2nmXZw3GtK1uOeQsVKZBuJgX0Y.png" data-holder-rendered="true">
                </a>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a href="article/based-on-the-weui-js-weui-distpicker-area-selectors.html">
                            基于 Weui.js 的地区选择器 weui-distpicker
                        </a>
                    </h6>
                    <div class="meta">
                        <span class="cinema">A easy-to-use district selector component base on weui.js.</span>
                    </div>
                    <div class="description">

                    </div>
                    <div class="extra">
                        <a href="tag/%E5%85%A5%E9%97%A8.html">
                            <div class="label"><i class="ion-pricetag"></i>入门</div>
                        </a>
                        <a href="tag/components.html">
                            <div class="label"><i class="ion-pricetag"></i>components</div>
                        </a>
                        <a href="tag/Vuejs.html">
                            <div class="label"><i class="ion-pricetag"></i>Vuejs</div>
                        </a>

                        <div class="info">
                            <i class="ion-person"></i>Jiajian&nbsp;,&nbsp;
                            <i class="ion-clock"></i>7个月前&nbsp;,&nbsp;
                            <i class="ion-ios-eye"></i>11810
                            <a href="article/based-on-the-weui-js-weui-distpicker-area-selectors.html" class="pull-right">
                                Read More <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center">
    <div class="pagination pagination-minimal">
        <ul>

            <li class="previous disabled"><span><i class="ion-chevron-left"></i></span></li>


            <li class="active"><span>1</span></li>
            <li><a href="article-page=2.html">2</a></li>
            <li><a href="article-page=3.html">3</a></li>


            <li class="next"><a href="article-page=2.html" rel="next"><i class="ion-chevron-right"></i></a></li>
        </ul>
    </div>
</div>