<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 50px;">
            <div class="well bs-component">
                <form role="form" method="POST" action="doLogin" class="form-horizontal">
                    <fieldset>
                        <legend class="text-center">登录</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1"><label for="email" class="control-label">邮箱地址</label>
                                <input id="email" type="email" name="email" value="" placeholder="请输入邮箱"
                                       required="required" autofocus="autofocus" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1"><label for="password"
                                                                          class="control-label">密码</label> <input
                                    id="password" type="password" name="password" placeholder="请输入密码"
                                    required="required" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-1">
                                <div class="checkbox"><label><input type="checkbox" name="remember"> 记住我
                                </label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1">
                                <button type="submit" class="btn btn-success form-control">
                                    登录
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <div class="strike"><span>or</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1"><a href="https://pigjian.com/auth/github"
                                                                      class="btn btn-primary form-control"><i
                                    class="ion-social-github"></i> 登录 Github
                            </a></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2 text-center"><a href="password/reset.html"
                                                                                 class="btn btn-link">
                                忘记密码？
                            </a></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>